# DI Extension
extensions:
    elasticsearch: FiolaSoft\ElasticSearch\DI\ElasticSearchExtension

# Simple host definition
elasticsearch:
    hosts:
        - 'example.com'

# Advanced host definition
elasticsearch:
    #This is effectively equal to: "https://foo:bar@example.com:9200/"
    hosts:
        -
            host: 'example.com'
            port: 9200
            scheme: 'https'
            user: 'foo'
            pass: 'bar'
